body{
    background-color: bisque;
}
.cabecalho {
    background-color: bisque;
    color: rgb(0, 0, 0);
    display: block;
    justify-content: baseline;
    padding: auto;
    margin: 0%;
}
    
#logoalura {
    width: 20%; 
}

.lista-itens {
    display: inline-block;
    margin: 0% 16px;
    padding: 0 16px;
    font-size: 24px;
}
    
#programa {
        width: auto;
}