body{
    background-color: rgb(255, 255, 255);
}
.cabecalho {
    background-color: rgb(28, 122, 185);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: baseline;
    padding: auto;
    margin: 10px;
    font-family: 'Roboto Mono', monospace;
}

.foto1 {
    padding-left: 10px;
    padding-top: 150px;
}

.lista-itens {
    padding-bottom: 1000px;
}

.escola {
    color: rgb(0, 0, 0);
    display: block;
    justify-content: baseline;
    padding: auto;
    margin: 10px;
}

.escolaconteudo {
    display: block;
}

.escolatitulo {
    display: block;
}

escolatexto1 {
    display: block;
}
    
#logoalura {
    width: 20%; 
}

.lista-itens {
    display: inline-block;
    margin: 0% 16px;
    padding: 0 16px;
    font-size: 24px;
}
    
#programa {
        width: auto;
}